   
body {
  background-image: url('docs/assets/images/Calm\ Darya.jpg');
   background-size: cover;
   font-family: 'Cousine', monospace;
   background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   justify-content: center;
   min-height: 100vh;
   margin:0;
   gap:30px;
  }

  section {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    


  h1 {
      font-size: 70px;
      color:aliceblue;
      text-align: center;
      margin:0;
  }

 

  body button {
    font-size: 25px;
    background-image: url('docs/assets/images/Calm\ Darya.jpg');
    color: #fff;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 5px;
  
   
  }

  canvas{
      background-image: url('docs/assets/images/vecteezy_high-city-skyline-view-from-bridge-background_6138952.jpg');
      background-size: cover;
      position:relative;
  }
  
 
  aside {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid black;
    background-color: rgb(99, 102, 184);
    height: 600px;
    width: 400px;
  }

     
  aside h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 4px;
  }

 #enemies {
   
   display: flex;
   align-items: center;
 }


 #start-page{

    color:white; 
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    background-image: url('docs/assets/images/Calm\ Darya.jpg'); 
    background-color: rgb(211, 127, 74);
    width: 700px; 
    z-index: 1;
    margin-left: 400px;

 }

 #start-page p {
   margin-left: 50px;
   margin-right: 50px;
 }

 .enemies-start{
   display: flex;
  justify-content: space-between
 }

 .description{
   text-align: center;
 }

 

   