   
body {
background-image: url('docs/assets/images/Calm\ Darya.jpg');
   background-size: cover;
   font-family: 'Cousine', monospace;
   background-repeat: no-repeat;
  }

  
    section {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  

  h1 {
      font-size: 90px;
      color:aliceblue;
      text-align: center;
  }

  body button {
    font-size: 25px;
    background-image: url('docs/assets/images/Calm\ Darya.jpg');
    color: #fff;
    padding: 10px 30px;
    border-radius: 15px;
  
   
  }

  canvas{
      background-image: url('docs/assets/images/vecteezy_high-city-skyline-view-from-bridge-background_6138952.jpg');
      background-size: cover;
      display: flex;
  }
  
 

  aside {
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid black;
    background-color: rgb(99, 102, 184);
    height: 600px;
    width: 400px;
  }

     
 aside > p{
   margin-left: 40px;
   margin-right: 2px;
 }

 #enemies {
   display: flex;
   align-items: center;
 }

  

    